version: "3.9"

services:
  backend:
    build: ./backend
    ports:
      - "4000:4000"
    env_file:
      - backend/.env
    depends_on:
      - minio
      - redis
    command: npm run dev

  frontend:
    build: ./frontend
    ports:
      - "3000:80"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend

  minio:
    image: minio/minio
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    volumes:
      - minio-data:/data
  redis:
    image: redis:7
    ports:
      - "6379:6379"
  worker:
    build: ./backend
    command: npm run start:worker
    env_file:
      - backend/.env
    depends_on:
      - redis
      - minio

volumes:
  minio-data:
